.pageWrapper {
    display: flex;
    flex-direction: column;
    min-height: 150vh;
    background-image: url(../../../public/assets/pagewormu.jpg);
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }
  
  .pageContent {
    flex: 1;
    padding: 20px;
    color: white;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    font-family: Quicksand;
    margin: 30px 0 40px 30px; /* Adjust top margin to bring it higher */
  }
  
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    padding: 0 30px;
  }
  
  .item {
    text-align: center;
    margin-top: -50px;
  }
  
  .label {
    color: orange;
    font-family: Quicksand;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }
  